<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the PDF upload and training application</h1>
    <div class="button-container">
        <a href="{{ url_for('upload_file') }}" class="button">Upload PDF</a>
        <a href="{{ url_for('train') }}" class="button">Training</a>
    </div>
    <!-- <h2>Search</h2>
    <form method="POST" action="{{ url_for('success') }}" class="search-form">
        <label for="sample_name">Select a Sample:</label>
        <select name="sample_name" id="sample_name">
            {% for name in sample_names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="query" placeholder="Enter search query" required autocomplete="off">
        <button type="submit" class="button">Search</button>
    </form> -->
    <div class="search-container">
        <h2>Search</h2>
        <form method="POST" action="{{ url_for('success') }}" class="search-form">
            <label for="index_name">Select an Index:</label>
            <select name="index_name" id="index_name">
                {% for name in sample_names %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            <label for="type">Select Type:</label>
            <select name="type" id="type">
                <option value="text">Text</option>
                <option value="images">Images</option>
            </select>
            <input type="text" name="query" placeholder="Enter search query" required autocomplete="off">
            <button type="submit" class="button">Search</button>
        </form>
    </div>
</body>
</html>
